<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-wakeuptimer-ef"
    version="1.1.0">

    <name>WakeupTimer</name>
    <description>Wakeup Plugin</description>
    <license>Apache 2.0</license>
    <keywords>sleep,wakeup,timer</keywords>
    <repo>git@github.com:EltonFaust/cordova-plugin-wakeuptimer-ef.git</repo>
    <issue>https://github.com/EltonFaust/cordova-plugin-wakeuptimer-ef/issues</issue>

    <js-module src="www/wakeup.js" name="Wakeup">
        <clobbers target="wakeuptimer"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WakeupPlugin" >
                <param name="android-package" value="com.eltonfaust.wakeupplugin.WakeupPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
            <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.eltonfaust.wakeupplugin.WakeupStartService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.eltonfaust.wakeupplugin.WakeupReceiver" />
            <receiver android:name="com.eltonfaust.wakeupplugin.WakeupBootReceiver" android:enabled="false" android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/WakeupPlugin.java" target-dir="src/com/eltonfaust/wakeupplugin/" />
        <source-file src="src/android/WakeupReceiver.java" target-dir="src/com/eltonfaust/wakeupplugin/" />
        <source-file src="src/android/WakeupBootReceiver.java" target-dir="src/com/eltonfaust/wakeupplugin/" />
        <source-file src="src/android/WakeupStartService.java" target-dir="src/com/eltonfaust/wakeupplugin/" />
        <source-file src="src/android/WakeupAutoStartHelper.java" target-dir="src/com/eltonfaust/wakeupplugin/" />
    </platform>
</plugin>
